<nav></nav>
<div id="overlay"></div>
<div id="authorize-form"></div>
<div id="page-content"></div>
<script id="nav-template" type="x-handlebars-template">{{{raw 'nav'}}}</script>
<script id="auth-form-template" type="x-handlebars-template">{{{raw 'auth_form'}}}</script>
<script id="contacts-page-template" type="x-handlebars-template">{{{raw 'contacts_page'}}}</script>
<script id="contacts-list-template" type="x-handlebars-template">{{{raw 'contacts_list'}}}</script>
<script id="contacts-contact-template" type="x-handlebars-template">{{{raw 'contacts_contact'}}}</script>
<script id="contacts-deals-template" type="x-handlebars-template">{{{raw 'contacts_deals'}}}</script>
