<div class="table">
    {{#if phone}}
        <div>
            <div>{{t "phone"}}</div>
            <div>{{phone}}</div>
        </div>
    {{/if}}
    {{#if email}}
        <div>
            <div>{{t "email"}}</div>
            <div>{{email}}</div>
        </div>
    {{/if}}
    {{#if add_time}}
        <div>
            <div>{{t "add_time"}}</div>
            <div>{{add_time}}</div>
        </div>
    {{/if}}
    {{#if open_deals}}
        <div>
            <div>{{t "open_deals"}}</div>
            <div>{{open_deals}}</div>
        </div>
    {{/if}}
    {{#if next_activity}}
        <div>
            <div>{{t "next_activity"}}</div>
            <div>{{next_activity}}</div>
        </div>
    {{/if}}
    {{#if last_activity}}
        <div>
            <div>{{t "last_activity"}}</div>
            <div>{{next_activity}}</div>
        </div>
    {{/if}}
</div>
